.toolbar {
  position: fixed;
  z-index: 2;
}

.sidenav-container {
  flex: 1 0 auto;
}

.content {
  min-height: calc(100vh - 64px);
  @media only screen and (max-width: 600px) {
    min-height: calc(100vh - 56px);
  }
}

