<mat-toolbar color="primary">
  <button mat-icon-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  <h1>Memes Generator</h1>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #sidenav
    [mode]="'over'"
    [fixedInViewport]="true"
    fixedTopGap="64"
  >
    <mat-nav-list>
      <a
        mat-list-item
        routerLink="/auth/sign-in"
        *ngIf="!(isAuthenticated$ | async)"
        >Sign in
      </a>
      <a
        mat-list-item
        routerLink="/auth/login"
        *ngIf="!(isAuthenticated$ | async)"
        >Login
      </a>
      <a mat-list-item routerLink="/memes">
        Memes
      </a>
      <a mat-list-item routerLink="/templates">Templates </a>
      <a
        mat-list-item
        *ngIf="isAuthenticated$ | async"
        routerLink="/auth/logout"
      >
        Logout
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <ng-content></ng-content>
  </mat-sidenav-content>
</mat-sidenav-container>
