<nav class="sticky">
  <ul class="flex space-x-8 text-sm font-semibold">
    <li>
      <a routerLink="/auth/sign-in" routerLinkActive="active border-b-2 border-orange-500"
         class="hover:text-orange-500">Sign in
      </a>
    </li>
    <li>
      <a routerLink="/auth/login" routerLinkActive="active border-b-2 border-orange-500"
         class="hover:text-orange-500">Login
      </a>
    </li>
    <li>
      <a routerLink="/memes" routerLinkActive="active border-b-2 border-orange-500" class="hover:text-orange-500">
        Memes
      </a>
    </li>
    <li>
      <a routerLink="/templates" routerLinkActive="active border-b-2 border-orange-500"
         class="hover:text-orange-500">Templates
      </a>
    </li>
    <li>
      <a routerLink="/logout" routerLinkActive="active border-b-2 border-orange-500" class="hover:text-orange-500">
        Logout
      </a>
    </li>
  </ul>
</nav>
