<mat-card class="card-container">
  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" class="form">
    <mat-form-field>
      <mat-label>
        Username
      </mat-label>
      <input matInput  type="text" formControlName="username"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>
        Email
      </mat-label>
      <input matInput type="text" formControlName="email"/>
    </mat-form-field>
    <mat-form-field>
      <mat-label>
        Password
      </mat-label>
      <input matInput type="password" formControlName="password"/>
    </mat-form-field>
    <button mat-flat-button type="submit" color="primary" [disabled]="!signUpForm.valid">
      Sign up
    </button>
  </form>
</mat-card>
